# pycache
/__pycache__/*
**.DS_Store
**.pdf
**.h5
**.pyc

# vscode json files
.vscode/

# Remove the deserted files
/desert/

# Remove raw data files
/UCSC-raw/
/UCSC-process/
/ROSMAP-raw/
/ROSMAP-process/
/Regulatory-network-data/

# Remove the processed data files
/UCSC-graph-data/form_data/
/ROSMAP-graph-data/form_data/

# Ignore the result
/UCSC-result/
/ROSMAP-result/